.logo{
    width: 10%;
    height: 10%;
}
.UserLogin{
    width: 3%;
    height: 3%;
}
.nav{
    position: fixed;
    top:0;
    z-index: 1;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_black{
    background-color: #111;
}